# Python bytecode
__pycache__/
*.pyc

# Virtual environment
venv/
env/
.venv/

# Distribution and packaging
*.egg-info/
dist/
build/

# IDE and editor settings
.vscode/
.idea/

# Testing
.tox/
.nox/
.coverage/

# OS files
Thumbs.db
.DS_Store

# Logs
*.log

# Environment variables
.env
